*.pyc
configurations/*/states/users/keys/*
configurations/*/states/packages/*
ksplice.sls
passwords.sls
configurations/**/fundamentals*
configurations/net.jeffhui.net/*/top.sls
keys/*
bootstrapper/hosts.py
sync.log
