*.pyc
*.log
.DS_Store
configurations/*/states/users/keys/*
configurations/*/states/external_files/*
passwords.sls
keys/*
bootstrapper/hosts.py
/osx/
configurations/net.jeffhui/pillars/yacs/upstream.sls
configurations/net.jeffhui/pillars/yacs/environment.sls
.ropeproject
.vagrant
