mumble-server:
    listen: ''
    port: 64738
    password:
    welcome_text: "<br />Welcome to this server running <b>Murmur</b>.<br />Enjoy your stay!<br />"
    bandwidth: 72000
    maxusers: 100
    logdays: 31
    name:
    requirecert: False # set to True if you want users to provide a cert to connect
